@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

section {
    min-height: 30%;
    height: fit-content;
    padding: 15px 0;
}

.container-discount-slider {
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 250px;
    height: auto;
}

.slider-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider-title {
    display: flex;
    flex-direction: row;
    width: 75%;
    font-family: Roboto;
    margin-left: 30px;
    padding: 0;
    color: #00043a;
    position: relative;
    display: inline-block;
    background-color: transparent;
}

.slider-title h3 {
    font-size: 1.5rem;
}

.bottom-margin-0 {
    margin-bottom: 0 !important;
}

.slider-title p {
    font-size: .75rem;
}

.slider-body {
    width: 100%;
    height: 30%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider-body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    background-color: transparent;
    padding: 10px;
}

.btn-discount-slide {
    height: fit-content;
    font-size: 1.5rem;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.btn-discount-slide:hover {
    transform: scale(1.1);
}

.spinning {
    padding: 70px;
    font-size: 3rem;
    animation: Spin infinite 1.5s linear;
}

@keyframes Spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (min-width:320px) {

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .slider-title h3 {
        font-size: 1.1rem;
    }

    .slider-title p {
        font-size: .75rem;
    }

    .slider-title {
        margin: 0px;
    }
}

@media (min-width:480px) {

    /* smartphones, Android phones, landscape iPhone */
    .slider-title h3 {
        font-size: 1.3rem;
    }

}

@media (min-width:600px) {

    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .container-discount-slider {
        width: 95%;
    }

    .slider-title {
        margin: 20px;
    }

    .slider-title h3 {
        font-size: 1.5rem;
    }

    .slider-title p {
        font-size: .75rem;
    }
}

@media (min-width:801px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .container-discount-slider {
        width: 90%;
    }

    .slider-title h3 {
        font-size: 1.7rem;
    }

    .slider-title p {
        font-size: 0.9rem;
    }
}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    .container-discount-slider {
        width: 85%;
    }

    .slider-title h3 {
        font-size: 1.7rem;
    }

    .slider-title p {
        font-size: 0.9rem;
    }
}

@media (min-width:1281px) {

    /* hi-res laptops and desktops */
    .container-discount-slider {
        width: 70%;
    }

    .slider-title h3 {
        font-size: 1.7rem;
    }

    .slider-title p {
        font-size: 1rem;
    }
}

@media (min-width:2000px) {

    /* 4K */
    .container-discount-slider {
        width: 80%;
    }

    .slider-title h3 {
        font-size: 3.7rem;
    }

    .slider-title p {
        font-size: 2rem;
    }
}