@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

section {
    min-height: 30%;
    height: fit-content;
    padding: 15px 0;
}
.container-discount-slider {
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 250px;
    height: auto;
}

.slider-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider-title {
    display: flex;
    flex-direction: row;
    width: 75%;
    font-family: Roboto;
    margin-left: 30px;
    padding: 0;
    color: #00043a;
    position: relative;
    display: inline-block;
    background-color: transparent;
}

.slider-title h3 {
    font-size: 1.5rem;
}

.bottom-margin-0 {
    margin-bottom: 0 !important;
}

.slider-title p {
    font-size: .75rem;
}

.Button-container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonUI {
    width: auto;
    max-height: 2rem;
    font-family: Roboto;
    font-weight: bold;
    font-size: 0.7rem;
    color: #008dff;
    border: 2px solid #008dff;
    padding: 7px 14px;
    border-radius: 15px;
    background-color: transparent;
    max-width: fit-content;
    flex-wrap: nowrap;
    cursor: pointer;
    white-space:nowrap;
}

.slider-body {
    width: 100%;
    height: auto;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.slider-body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    background-color: lightgray;
    padding: 10px;
}

.btn-discount-slide {
    height: fit-content;
    font-size: 1.5rem;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    outline: none;
}
.btn-discount-slide:hover {
    transform: scale(1.1);
}

@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width:480px)  {
    /* smartphones, Android phones, landscape iPhone */
}
@media (min-width:600px)  {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .container-discount-slider {
        width: 95%;
    }
}
@media (min-width:801px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .container-discount-slider {
        width: 90%;
    }
}
@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .container-discount-slider {
        width: 80%;
    }
}
@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}