.navbar {
    max-width: 300px;
    background: white;
    position: absolute;
    top: 0px;
    transition: all .5s;
    border-bottom: 3px solid #008dff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 2px 1px -1px rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 14%);
    
}
.navbar-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #008dff;
    padding: 12px;
    cursor: pointer;
}
.navbar-top-title {
    font-size: 1rem;
    margin: 0 0 0 15px;
}
.nav-list {
    list-style-type: none;
    display: block;
    padding: 12px;
    margin: 0px;
}
.nav-list i {
    margin-right: 20px;
}
.nav-links a {
    line-height: 2em;
    text-decoration: none;
    color: black;
}
.toggle-navbar {
    display: none;
}