.header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    height: 55px;
    background-color: rgba(100, 100, 100, 0.3);
    z-index: 1;
}

.logo {
    position: relative;
    left: 50px;
    top: 1px;
    width: 70px;
}

.search-navbar {
    justify-content: center;
}

.search-navbar input {
    background-color: transparent;
    padding: 10px;
    border: 2px solid white;
    width: 200px;
    color: white;
}

.search-navbar input:focus {
    outline: none;
}

.search-navbar input::placeholder { /* Firefox, Chrome, Opera */
    color: rgba(255, 255, 255, 0.7);
}
 
.search-navbar input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.7);
}
 
.search-navbar input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.7);
}

.search-commerce {
    border-radius: 20px 0 0 20px;
}

.search-location {
    border-radius: 0 20px 20px 0;
}

.search-navbar button {
    color: white;
    background-color: #008dff;
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.extra-navbar {
    margin: 3px 15px 3px 0px;
}

.extra-navbar i {
    font-size: 1.2rem;
    margin: 8px;
    cursor: pointer;
}
.extra-navbar i:hover {
    transform: scale(1.2);
}

@media (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .search-navbar {
        display: none;
    }
}

@media (min-width:480px) {
    /* smartphones, Android phones, landscape iPhone */
    
}

@media (min-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .search-navbar {
        display: block;
    }
}

@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    
}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    
}

@media (min-width:1281px) {

    /* hi-res laptops and desktops */
    
}

@media (min-width:2000px) {

    /* 4K */
    
}